mixin pagination(pagination)
    nav.mt-4
        ul.pagination.justify-content-center.align-items-center

            // Trang đầu
            li.page-item
                if(pagination.currentPage > 1)
                    button.page-link(
                        type="button"
                        button-pagination= 1
                        title="Trang đầu"
                    )
                        span &laquo;&laquo;

            // Trang trước
            li.page-item
                if(pagination.currentPage > 1)
                    button.page-link(
                        type="button"
                        button-pagination= pagination.currentPage - 1
                        title="Trang trước"
                    )
                        span &laquo;

            // Các trang
            - for (var i = 1; i <= pagination.totalPage; i++)
                li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button.page-link(
                        type="button"
                        button-pagination=i
                    ) #{i}

            // Trang kế tiếp
            li.page-item
                if(pagination.currentPage < pagination.totalPage)
                    button.page-link(
                        type="button"
                        button-pagination = pagination.currentPage + 1
                        title="Trang kế tiếp"
                    )
                        span &raquo;

            // Trang cuối
            li.page-item
                if(pagination.currentPage < pagination.totalPage)
                    button.page-link(
                        type="button"
                        button-pagination= pagination.totalPage
                        title="Trang cuối"
                    )
                        span &raquo;&raquo;
